{% extends 'base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 0 auto">
  <div style="height: 80px">
    <img src="/uploads/{{ correspondent.picture }}" style="max-width: 60px; max-height: 60px; float: left">
    <h1 style="float: left; margin-left: 30px"><b>{{ correspondent.username }}</b></h1>
  </div>

  <hr>

  <div id="messages" style="height: 50%">
    {% for message in messages %}
    {{ message.sender.username }}: {{ message.content }} <br/>
    {% endfor %}
  </div>

  <br/>
  <hr>
  <form method="POST" action="/message/{{ correspondent.id }}">
    <input type="text" id="message-text" name="message" style="width: 80%">
    <button type="submit" id="send-btn">Send</button>
  </forxbm>
{% endblock%}
