{% extends "index.html" %}

{% block title %}Index{% endblock %}

{% block content  %}
    {% if suggestion is none %}
        <div class="row justify-content-center">
            <div class="cold-md-3">
                <h1>Sorry, no more hot singles in your area...</h1>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="cold-md-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{ suggestion.profile_pic }}" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">{{ suggestion.first_name }} {{ suggestion.last_name }}</h5>
                      <p class="card-text">{{ suggestion.bio }}</p>
                      <form method="POST" action="/match">
                          <input type="hidden" name="liked_user_id" value="{{ suggestion.id }}" />
                          <input type="submit" class="btn btn-success" value="Like" />
                          <a href="{{ url_for('find_match') }}" class="btn btn-danger">Dislike</a>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock  %}
