{% extends "index.html"  %}

{% block content %}
    <div class="row mb-5 justify-content-center">
        <div class="col-md-4">
            {% if current_user.profile_pic is not none %}
                <img src="{{ current_user.profile_pic }}" class="img-fluid" alt="Your profile pic">
            {% endif  %}
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-4">
            <form method="POST" action="/profile" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="first-name-input">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="first-name-input" value="{{ current_user.first_name }}" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="last-name-input">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="last-name-input" value="{{ current_user.last_name }}" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="age-input">Age</label>
                    <input type="number" name="age" class="form-control" id="age-input" value="{{ current_user.age }}" min="18" max="40">
                </div>
                <div class="form-group">
                  <label for="bio-input">Biography</label>
                  <textarea class="form-control" name="bio" id="bio-input" rows="3">
                      {{ current_user.bio }}
                  </textarea>
                </div>
                <div class="form-group">
                  <label for="profile-pic-input">Profile Pic</label>
                  <input type="file" class="form-control-file" id="profile-pic-input" name="profile_pic">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
