<div>
    <form method="POST", action="/profile" enctype="multipart/form-data">
        <input type="text" name="first_name", value="{{current_user.first_name}}" />
        <br />
        <input type="text" name="last_name", value="{{current_user.last_name}}" />
        <br />
        <input type="number" name="age", value="{{current_user.age}}" />
        <br />
        <input type="text" name="bio", value="{{current_user.bio}}" />
        <br />
        <input type="file" name="profile_pic" accept=".jpeg,.jpg,.png,image/jpeg,image/jpg,image/png" />
        <br />
        <input type="submit" value="Update profile"/>
    </form>

</div>
